body{
    background-color: rgb(60, 65, 70);
    color: green;
}
h1{
    color: firebrick;
    margin: 0px;/*agregar margen*/
    padding: 0px;/*margen interno de los elementos*/
    font-size: 20px;
    height: 2rem;
    

}
h1:hover{
    transform: translate(20px);
}
