body{
    background-color: dodgerblue
}
h1{
    color: whitesmoke;
    border:0px;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 5px;
    transform: translate(250px);
    padding: 10px;
}
h1:hover{
    transform: translate(20px);
}
